body{
	margin: 0;
	min-width: 1200px;
	background: url("images/aa.gif");
	background-size: 1600px 700px;
}
.content{
	width: 600px;
	margin:30px auto;
	border-radius: 5px;
	box-shadow: 0 0 34px #626262;
}
#chessboard{
	width: 600px;
	height: 600px;
	border-radius: 10px;
	background:url("images/back.jpg");
	position: relative;
	border: 10px solid #EDD8B8;
	opacity: 0.8;
}
.chess{
	float: left;
	border-radius: 50%;
	position: relative;
	z-index: 600;
	background-size: cover;
}